{% extends 'base.html.twig' %}

{% block title %} - About Us!{% endblock %}

{% block body %}
<article class="container">
    <h1>Our story...</h1>
    <section>
    <h3>text text text text texttext text text text texttext texttext texttext</h3>
    <section>
        <h4>Time line </h4>
        <p>text text text text texttext text text text texttext texttext texttext</p>
    </section>
    <section>
        <h4>Time line </h4>
        <p>text text text text texttext text text text texttext texttext texttext</p>
    </section>
        <h4>Time line </h4>

    <P>insert image?</p>

</article>    
{% endblock %}
